/******************************************************************
Site Name: Jockey International PR Marketing Site
Author: Joshua Michaels/BioDesign
Author URI: http://wearebio.com/

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports. Sweet.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/* Transition all of the things! */

* {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

body.iphone, body.ipad {
	background: url(../images/background-three.png) repeat top center !important;
	background-size: 1268px 994px !important;
}

body {
	// background: url(../images/background-three.png) repeat center center fixed; /* textured dark background */
	// -webkit-background-size: cover;
 //  	-moz-background-size: cover;
 //  	-o-background-size: cover;
 //  	background-size: cover;
	color: $white;
	font-size: 100%;
	font-family: $sans-serif;
	line-height: 1.5;
	letter-spacing: normal;
  	-webkit-font-smoothing: antialiased;
  	background: #171717;
}

// #content {
// 	margin-top: 124px;
// }

.category-logo {
	margin: .5em 0;
}

.category-logo img {
	width: 150px;
	height: auto;
}

.jockey-red {
	color: $jockey-red !important;
}

.video-container {
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99 !important;
}

.html5-video-container {
	z-index: 99 !important;
}

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
        z-index: 99 !important;
}

.entry-content {
	margin-bottom: 2em;
}

.entry-content iframe {
	margin-bottom: 2em;
}

.lt-ie9, .ie9, .ie, .ie11 {
	.owl-carousel .overlay {
		display: none !important;
	}
}

.ytp-thumbnail .video-thumbnail {
	z-index: -1 !important;
}



.ie iframe, .ie video {
	z-index: 1 !important;
}

.ie9 {
	ul.sub-menu {
		position: relative;
		top: -3px;
	}
	.main-menu ul.nav > li {
		padding: 0;
	}
}



// iOS Media Queries
// Goal: capture styles for iPhone, iPhone 3G, iPhone 3GS, iPhone 4, iPhone 4S, iPad, and iPad 2
//
// Author: Tony Schneider (@tonywok)
// Please tell me where I fail. :)
 
// iPhone v(4,4S) portrait
// test: black text (overwritten by v* portrait) with blue background
@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}
 
// iPhone v(4/4S) landscape
// test: orange text (overwritten by v* landscape) with green background
@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .owl-item {
  	max-width: 24% !important;
  }
  .owl-carousel {
  	width: 100%;
  }
}

.document {
	overflow: hidden;
	position: relative;
	width: 150px;
	height: 150px;
	a {
		text-decoration: none !important;
	}
}

.doc-overlay    {  position: absolute;
   	top: 0;
   	left: 0;
   	overflow: hidden;
   	height: 100%;

				background:rgba(0,0,0,.75);
               text-align:center;
               width: 150px;
               height: 150px;
               opacity:0;
               -webkit-transition: opacity .25s ease;
               padding: 2em 1em 1em;
}

.document:hover .doc-overlay {
	opacity:1;
	cursor: pointer;
}

.document:hover .doc-overlay {
	text-decoration: none !important;
}

.download {  
    font-weight:300;
    color:rgba(255,255,255,.85);
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fff !important;
}

/* #Alizarin Flat Button
==================================================*/
.btn {
  position: relative;
  // vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 8px 16px;
  font-size: 1em;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #C00000;
  border: 0;
  border-bottom: 4px solid darken(#C00000, 10%);
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px darken(#C00000, 10%);;
  box-shadow: inset 0 -2px darken(#C00000, 10%);;
  &:hover, &:focus {
  	background:darken(#C00000, 5%);
  	border-bottom: 4px solid darken(#C00000, 15%);
  }
}
.btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl { }                           /* for sites that are read right to left (i.e. hebrew) */
.home { 
	.banner-centered {
		margin-top: 124px;
	}
}                       /* home page */
.blog { }                          /* blog template page */
.archive, .parent-partner-pages, .partners { 
	article {
		margin-top: 1.8em;
	}
	.post .entry-content {
		margin-bottom: 0;
	}
}                       /* archive page */
.date { }                          /* date archive page */
	.date-paged-1 { }                /* replace the number to the corresponding page number */
.search { }                        /* search page */
	.search-results { }              /* search result page */
	.search-no-results { }           /* no results search page */
	.search-paged-1 { }              /* individual paged search (i.e. body.search-paged-3) */
.error404 { }                      /* 404 page */
.single { 
	.single-title {
		font-size: 1.4em;
	}
	.entry-content {
		font-size: 90%;
	}
	.article-footer {
		p {
			font-weight: 300;
		}
		a {
		text-decoration: none;
		text-transform: uppercase;
		}
	}
}                        /* single post page */
	.postid-1 { }                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 { }              /* individual paged single (i.e. body.single-paged-3) */
.attachment { }                    /* attatchment page */
	.attachmentid-1 { }              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type { }        /* style mime type pages */
.author { }                        /* author page */
	.author-nicename { }             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 { }              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category { }                      /* category page */
	.category-1 { }                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 { }            /* replace the number to the corresponding page number */
.tag { }                           /* tag page */
	.tag-slug { }                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 { }                 /* replace the number to the corresponding page number */
.page-template { }                 /* custom page template page */
	.page-template-page-php { }      /* individual page template (i.e. body.page-template-contact-php */
	.page-template-page-partners-php {
		#main {
			.category-logo img {
				margin-top: 1em;
				width: 100px;
				height: auto;
			}
		}
	}
	.page-paged-1 { }                /* replace the number to the corresponding page number */
	.page-parent { }                 /* parent page template */
	.page-child { }                  /* child page template */
	.parent-pageid-1 { }             /* replace the number to the corresponding page number */
.logged-in { }                     /* if user is logged in */
.paged { }                         /* paged items like search results or archives */
	.paged-1 { }                     /* individual paged (i.e. body.paged-3) */

#banner {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about-jockey {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/aboutjockey.png) top center no-repeat fixed;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/uploads/2014/05/aboutjockey.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/uploads/2014/05/aboutjockey.png',sizingMethod='scale')";
	}

	.banner-centered {
		// margin-top: 120px;
	}
}

.showyourejockey, .show-youre-jockey {
	#banner {
		background: transparent url(/wp-content/uploads/2014/11/syj2015.png) top center no-repeat fixed;
	}

	.banner-centered {
		// margin-top: 120px;
	}

	
}

.usa-originals-mens {
	#banner {
		background: transparent url(/wp-content/uploads/2014/11/usamensss15.png) top center no-repeat fixed;
	}
	.banner-centered {
		// margin-top: 100px;
	}
}

.usa-originals-womens {
	#banner {
		background: transparent url(/wp-content/uploads/2014/11/usawomensss15.png) top center no-repeat fixed;
	}
	.banner-centered {
		// margin-top: 200px;
	}
}

.international-collection, .international-collection-global-programs {
	#banner {
		background: transparent url(/wp-content/uploads/2014/11/intlss15.png) top center no-repeat fixed;
		// background-position: 0 40% !important;
	}

	.banner-centered {
		// margin-top: 200px;
	}
	
}

.usa-originals-global-programs {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/USAGLOBAL.png) top center no-repeat fixed;
	}

	.banner-centered {
		// margin-top: 200px;
	}
}

.jockey-sport {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/SPORTGLOBAL.png) top center no-repeat fixed;
	}

	.banner-centered {
		// margin-top: 200px;
	}
}

.nplp {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/NPLP-bg.png) top center no-repeat fixed;
	}
}

.seamless-shapewear {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/Shapewear.png) top center no-repeat fixed;
	}
}

.partners, .parent-partner-pages {
	#banner {
		background: transparent url(/wp-content/uploads/2014/05/PARTNER.png) top center no-repeat fixed !important;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	margin: 0 auto;
	width: 96%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	outline: 0;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		outline: 0;
	}

	/* on click */
	&:active {
		outline: 0;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
		outline: 0;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-transform: uppercase;
	font-weight: 300;
	// font-weight: 700;
	text-rendering: optimizelegibility;
	letter-spacing: normal;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	margin-bottom: 0.375em;
	font-size: 1.75em;
	line-height: 1.4em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-weight: 700;
	font-size: 1.1em;
}

h5, .h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.846em;
	line-height: 2.09em;
}

/*********************
HEADER STYLES
*********************/

/* Base header styles moved to 767down */

	#logo {
		margin: 0;
		img {
			width: 232px;
			height: 51px;
		}

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/* Mobile Menu custom styles */

#responsive-menu {
	z-index: 999999;
}

#responsive-menu #responsive-menu-title, #responsive-menu #responsive-menu-title a, #responsive-menu .responsive-menu li a {
	text-transform: uppercase;
}

#click-menu {
	position: fixed !important;
	top: 24px !important;
	right: 3% !important;
	z-index: 99999 !important;
	display: block;
}

#responsive-menu {
	z-index: 99999 !important;
}

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.header nav.main-menu { display: none; } /* Hide main nav menu for mobile */

.nav {
	margin: 0;  /* end current highlighters */
	border-bottom: 0;

	li {

		a {
			display: block;
			padding: .7em;
			// color: $jockey-red;
			text-decoration: none;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				// font-weight: bold;
			}
		}

		&:first-child { }

		&:last-child { }

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus { }

					&:link { }

				}

				&:first-child { }

				&:last-child { }

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a { }

	}

} /* end .nav */

/*********************
BREADCRUMBS STYLES
*********************/

.breadcrumbs {
	// display: block;
	// position: fixed;
	// z-index: 9999;
}

.breadcrumbs, .breadcrumbs a {
	margin: 7px 0; 
	text-decoration: none;
	text-transform: uppercase !important;
	font-weight: 300 !important;
	font-size: 11px;
}

.breadcrumbs-outer {
	
	z-index: 9;
	
	width: 100%;
	background: #222;
}

/*********************
POSTS & CONTENT STYLES
*********************/

.article-header .entry-title {
	margin-bottom: .5em;
}

.hentry {
		border: 0;
		background: none;
		header { border: 0; }
		footer { border: 0; }
		h2, h3 {
			margin-bottom: .5em;
		}
	}

.home #content {
	margin-top: 0;
	border: 0;
	.home-posts h3 {
		margin-bottom: .5em;
	}
	
}

#content {
}

		.hentry {
			margin-bottom: 1.5em;

			header {
			}

			footer {

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title, .archive-title {
			margin: 0 0 .5em;
			text-transform: uppercase;
				font-weight: 300;

			a { 
				
			}
		}

		.single-title, .page-title, .entry-title {
			font-size: 1.4em;
		}

		.page-title { }

		.entry-title { }

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id { }         /* post by id (i.e. post-3) */
		.post { }            /* general post style */
		.page { }            /* general article on a page style */
		.attachment { }      /* general style on an attatchment */
		.sticky { }          /* sticky post style */
		.hentry { }          /* hentry class */
		.category-slug { }   /* style by category (i.e. category-videos) */
		.tag-slug { }        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			margin: 0;
			color: $meta-gray;
			font-style: italic;

			time { }
		}

		/* entry content */
		.entry-content {

			p {
				margin: 0 0 1.5em;
				font-weight: 300;
			}


			ul, ol, table, dl { }

			ul, ol {

				li { }

			}

			ul {

				li { }

			}

			ol {

				li { }

			}

			table {
				margin-bottom: 1.5em;
				width: 100%;
				border: 1px solid $gray;

				caption {
					margin: 0 0 7px;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 0.75em;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				border-right: 1px solid $gray;
				border-bottom: 1px solid $gray;
				background-color: $light-gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				color: $meta-gray;
				font-style: italic;

				&:before { }

			}

			dl { }

			dt { }

			dd {
				margin-bottom: 1.5em;
				margin-left: 0;
				color: #787878;
				font-size: 0.9em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.excerpt-read-more {
				text-decoration: none;
				text-transform: uppercase;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft { }
			.alignright, img.alignright { }
			.aligncenter, img.aligncenter { }

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				margin: 0 0 1.5em;
				padding: 1.5em;
				border-radius: 3px;
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
			}

		} /* end .entry-content */

		.wp-caption {
			padding: 5px;
			max-width: 100%;
			background: #eee;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				max-width: 100%;
				width: 100%;
			}

			p.wp-caption-text {
				margin: 4px 0 7px;
				text-align: center;
				font-size: 0.85em;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a { }

				img { }

			}

			dt { }

			dd { }

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption { }

		.size-full { }
		.size-large { }
		.size-medium { }
		.size-thumbnail { }

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    // text-align: center;

    ul {
      display: inline-block;
      clear: both;
      padding: 0;
      border-radius: 0;
      background-color: #444;
      white-space: nowrap;
    }

    li {
      display: inline;
      float: left;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border-right: 1px solid #333;
    }

    a, span {
      display: block;
      margin: 0;
      padding: 0;
      padding: 0.75em;
      min-width: 1em;
      color: $blue;
      text-decoration: none;
      font-weight: normal;
      font-size: 1em;
      line-height: 1em;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	color: $text-color;
    	cursor: default;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul { }

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	margin: 0;
	padding: 0.75em;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span { }

}

.comment-nav {

	ul {

		li { }

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url { }

		}

		time {
			display: block;
			font-style: italic;
			font-size: 0.9em;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo { }

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li { }

			/* variations */
			.comment { }
			.alt { }
			.odd { }
			.even { }
			.depth-1 { }           /* change number for different depth */
			.byuser { }
			.bypostauthor { }
			.comment-author-admin { }

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-top: 0;
		margin-left: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 { }
	&.depth-3 { }
	&.depth-4 { }
	&.depth-5 { }

	/* general comment classes */
	&.alt { }
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent { }
	&.comment { }
	&.children { }
	&.pingback { }
	&.bypostauthor { }
	&.comment-author { }
	&.comment-author-admin { }
	&.thread-alt { }
	&.thread-odd { }
	&.thread-even { }
}




	/* comment meta */
	.comment-meta {

		a { }

	}

	.commentmetadata {

		a { }

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		float: right;
		font-size: 0.9em;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		margin: 0 7px;
		text-decoration: none;
		font-style: italic;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		margin: 0;
		color: $meta-gray;
		font-style: italic;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a { }
	}

	/* logged in comments */
	.comments-logged-in-as { }

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar, #sidebar1 {
	// float: right;
	// padding-right: 0;
	// width: 25%;
	margin-bottom: 1.5em;
	h3.widget-title, h4 {
		border-bottom: 2px solid #444;
		padding-bottom: 8px;
	}
	.posts-link, ul li {
		line-height: 15px;
		margin: 8px 0;
		a {
			text-decoration: none;
			font-size: 13px;
		}
	}
}


.sidebar { }

	.widgettitle { }

	.widget {

		ul {

			li {



				&:first-child { }

				&:last-child { }

				a {
				text-decoration: none; 
				text-transform: uppercase;
				}

				/* deep nesting */
				ul { }

			}

			

		}

	}

	.no-widgets {
		// background-color: $white;
		// padding: 1.5em;
		// text-align: center;
		// border: 1px solid $border-color;
		// border-radius: 2px;
		// margin-bottom: 1.5em;
	}



/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li { }

		}

	} /* end .footer-links */


	.copyright {
		color: $jockey-light-gray; 
		text-transform: uppercase;
		font-weight: 300;
		font-size: .85em;
		img {
			position: relative;
			top: 5px;
		}
	}


/*********************
PLUGIN STYLES
*********************/

/* Owl Carousel */

.owl-carousel {
	width: 100%;
}

.owl-carousel .owl-item{
  overflow: hidden;
}

.owl-carousel .owl-item img{
  	display: block;
  	margin: 0;
  	padding: 0;
  	width: 100% !important;
  	height: auto;
}

.owl-carousel .overlay .overlay-text {
	height: 0;
	color: #fff;
	text-align:center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.2em;
}

.owl-pagination {
	// display: none;
}

.firefox .owl-carousel .overlay, .gecko .overlay, .win .overlay, .ie .overlay {
	position: absolute !important; // fixes weird overlay dropping down thingy
	overflow: hidden !important;
}

.overlay {
    overflow: hidden;
    height: 0;  
	// background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s ease;
}


.overlay .overlay-image {
    overflow: hidden;
    max-width: 100%;
    height: 0;  
	// background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s ease;
}

.owl-item:hover .overlay, .owl-item:hover .overlay-image {
   	position: absolute;
   	top: 0;
   	left: 0;
   	overflow: hidden;
   	height: 100%;
	-webkit-transition: top .2s ease-in-out, width .2s ease-in-out, opacity .2s ease-in-out;
	-moz-transition: top .2s ease-in-out, width .2s ease-in-out, opacity .2s ease-in-out;
	-o-transition: top .2s ease-in-out, width .2s ease-in-out, opacity .2s ease-in-out;
   	transition: top .2s ease-in-out, width .2s ease-in-out, opacity .2s ease-in-out;
   	// padding: 32% 2em;
   	width: 101%;
	// background:rgba(0,0,0,.85);
   	opacity:1;
}

.responsive-menu {
	ul.sub-menu {
		margin: 0 !important;
	}
}

.js #responsive-menu #responsive-menu-title, .js #responsive-menu .responsive-menu li a {
	// width: 100% !important;
}

.js #responsive-menu #responsive-menu-title {
	padding: 0 20px 0 0 !important;
	line-height: 59px !important;
}
